<div class="wrapper">
    <a routerLink="home">< VOLTAR</a>
    <div class="content">
        <div class="image">
            <img src={{product.imageUrl}} alt="">
        </div>
        <div class="texts">
            <div class="top">
                <h2 class="name">{{product.name}}</h2>
                <p class="descricao">{{product.description}}</p>
                <h3 class="price">R$ <span>{{product.unitPrice}}</span></h3>
            </div>
            <div class="bottom">
                <div class="add-cart">
                    <div class="button" (click)="addToCart()">+</div>
                    <p>Adicionar ao carrinho</p>
                </div>
            </div>
        </div>
    </div>
</div>
