<div class="wrapper">
    <div class="logo">
        <h2 class="logo-text">
            SATUS<span class="shop-text">SHOP</span>
        </h2>
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="#/home">Loja</a></li>
            <li><a routerLink="#/home">FAQ</a></li>
            <li><a routerLink="#/home">Contato</a></li>
        </ul>
    </div>
    <div class="profile">
        <a href="#" class="entrar-btn">Entrar</a>
        <img src="../../assets/profile.svg" alt="profile">
        <img src="../../assets/cart.svg" alt="cart">
    </div>
</div>
