.wrapper{
    width: 100%;
    background-color: var(--green);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
}

.wrapper > *{
    width: 30%;
}

.logo-text{
    font-size: 2.5rem;
    color: var(--light);
    text-align: left;
}

.shop-text{
    color: var(--dark);
}

.menu{
    text-align: center;
}

.menu > ul > li{
    display: inline-block;
    margin: 0 15px;
}

.menu > ul > li > a{
    color: var(--light);
    text-decoration: none;
    display: block;
    text-align: center;

    font-size: 1.2rem;

    padding-right: 1px;
    padding-bottom: 4px;

    position: relative;
}

.menu > ul > li > a::after{
    content: '';
    width: 0%;
    height: 4px;
    border-radius: 5px;

    background-color: var(--light);

    position: absolute;
    left: 0;
    bottom: 0;

    transition: 300ms ease;
}

.menu > ul > li > a:hover::after{
    width: 100%;
}

.profile{
    text-align: right;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.profile > *{
    margin-left: 30px;
}

.profile > img{
    filter: var(--filter-white);
    width: 40px;
}

.entrar-btn{
    color: var(--light);
    text-decoration: none;
    display: block;
}