.wrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 100px 10%;
}

.filters{
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filters p{
    margin-bottom: 0 !important;
    margin-right: 10px;
    font-size: 1.2rem;
}

.search{
    width: max-content;
    background-color: var(--grey);

    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search > input{
    border: none;
    background-color: transparent;

    margin-left: 5px;
}

.search > input:focus{
    outline: none;
}

.search img{
    width: 25px;
    filter: invert(48%) sepia(0%) saturate(456%) hue-rotate(220deg) brightness(88%) contrast(88%);
    cursor: pointer;
}

.filters{
    position: relative;
}

.arrow{
    --arrow_size: 30px;
    transform: rotate(0deg);
    width: var(--arrow_size);
    aspect-ratio: 1/1;

    transition: 300ms ease;

    cursor: pointer;
}

.rotate{
    transform: rotate(90deg) !important;
}

.dialog{
    background-color: rgb(203, 203, 203);
    width: max-content;
    padding: 15px 30px;

    position: absolute;
    top:40px;
    left: 0;

    z-index: 5;
}

.dialog > ul{
    list-style: none;
    padding: 0;
}

.dialog > ul > li{
    margin: 5px 0;
    font-size: 1.1rem;
}

.dialog > ul > li > a{
    color: black;
    text-decoration: none;

    position: relative;
    padding-bottom: 4px;
}

.link-ativo{
    color: var(--green) !important;
}


.link-ativo::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: var(--green);

    position: absolute;
    left: 0;
    bottom: 0;

    animation: open 300ms;
    transition: 300ms ease;

    z-index: -1;
}

@media (max-width: 950px){
    .wrapper{
        justify-content: center;
    }
}

@keyframes open{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}