<div class="wrapper">
    <div class="filters">
        <ul>
            <li><a routerLink="/categoria/1" routerLinkActive="link-ativo">CALÇAS</a></li>
            <li><a routerLink="/categoria/2" routerLinkActive="link-ativo">BONÉS</a></li>
            <li><a routerLink="/categoria/3" routerLinkActive="link-ativo">CAMISAS</a></li>
            <li><a routerLink="/categoria/4" routerLinkActive="link-ativo">CALÇADOS</a></li>

        </ul>
    </div>
    <div class="search">
            <img src="../../assets/search.svg" alt="">
            <input type="text" placeholder="Pesquisar">
    </div>
</div>
