:root{
    --green: #6D9886;
    --dark: #393E46;
    --light: #F7F7F7;
    --grey: #dddddd;
    --filter-white: brightness(0) invert(1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
